# Блок 3. Написание map reduce на Python

In [80]:
import pandas as pd

Прочтем исходные данные:

In [96]:
df = pd.read_csv('pkg/AB_NYC_2019.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
df = df[df['price'] > 0]

In [88]:
avg = df['price'].mean()
var = np.var(df['price'].to_numpy())

print("avg: {}, var: {}".format(avg, var))

avg: 152.7206871868289, var: 57672.84569843359

Код мэппера и редьюсера для получения среднего хранится и для вычисления дисперсии хранитсяв папке pkg/avg и pkg/var соответсвенно.   
Скрипты для запуска - pkg/run.sh  
В папке result_hw1 хранится результаты работы паплайнов.

In [86]:
with open("result_hw1/avg/part-00000", "r") as f:
    avg_mr = float(f.readlines()[0])
avg_mr

152.720687187

In [87]:
with open("result_hw1/var/part-00000", "r") as f:
    var_mr = float(f.readlines()[0])
var_mr

57672.8456984

# Результат

In [92]:
print("By pandas:     avg: {:.10f}, var: {:.10f}".format(avg, var))
print("By map-reduce: avg: {:.10f}, var: {:.10f}".format(avg_mr, var_mr))
print("Difference:    avg: {:.10f}, var: {:.10f}".format(avg - avg_mr, var - var_mr))

By pandas:     avg: 152.7206871868, var: 57672.8456984336
By map-reduce: avg: 152.7206871870, var: 57672.8456984000
Difference:    avg: -0.0000000002, var: 0.0000000336