Пример коннекта к hive и выполнения запроса

In [68]:
from pyhive import hive
from pandas import DataFrame

In [69]:
conn = hive.Connection(host="localhost", port=10000, username="hive")

In [70]:
cursor.execute("""
    SELECT
        artist_lastfm,
        listeners_lastfm,
        tags_lastfm
    FROM artists
    LIMIT 10
""")


df = DataFrame(cursor.fetchall())
df.columns = [col_descr[0] for col_descr in cursor._description]
df.head()

,artist_lastfm,listeners_lastfm,tags_lastfm
0,Coldplay,5381567,rock; alternative; britpop; alternative rock; ...
1,Radiohead,4732528,alternative; alternative rock; rock; indie; el...
2,Red Hot Chili Peppers,4620835,rock; alternative rock; alternative; Funk Rock...
3,Rihanna,4558193,pop; rnb; female vocalists; dance; Hip-Hop; Ri...
4,Eminem,4517997,rap; Hip-Hop; Eminem; hip hop; pop; american; ...